<div class="container">
  <div class="header">
    <div class="container">
        <div class="logo">
          <h1 id="main-head">Travel Plan.It</h1>
        </div>
    </div>

  <div class="nav">
    <ul>
        <li><a href="#">Home</a><li>
        <li><a href="#">About</a><li>
        <li><a href="#">Contact</a><li>
    </ul>
  </div>

  </div>
</div>
