<br>
<br>
<form id="center-form" action='/' method="post">
  <h4 id="homepage-head">Let's plan your trip! Start by entering your name:</h4>
  <div class="form-group">
    <input id="name" name="name" type="text" placeholder="Enter your name">
  </div>
  <button type="submit" name="submit" class="btn btn-success">Submit</button>
</form>
