<div class="container">
  <div classs="header">
    <div class="container">
      <div class="logo">
        <h1 class="main-head">Activities</h1>
      </div>
      <!-- navigation  -->

      <!-- form - activities -->

      <!-- descriptions -->
      </div>
    </div>
  </div>
