<div class="container">
  <div classs="header">
    <div class="container">
      <div class="logo">
        <h1 class="main-head">Activities</h1>
      </div>
      <form action="/trips/<%= @trip.id %>" method="post">
        <input id="user_id" name="user_id" type="hidden" value="<%= @user.id %>">
        <label for="description"></label>
        <input type="text" name="description">

        <button type="submit">Add Activity</button>
      </form>

      <ul>
        <% @activities.each do |activity| %>
          <li><%= activity.description %></li>
        <% end %>
      </ul>
      </div>
    </div>
  </div>
