<div class="container">
  <div classs="header">
    <div class="container">
      <div class="logo">
        <h1 class="main-head">Trips</h1>
      </div>
      <!-- navigations -->

      <!-- destination -->

      <!-- date -->

      <!-- longitude -->

      <!-- latitude -->
      </div>
    </div>
  </div>
