<br>
<!-- <h2 class="main-head">Trips</h2> -->
<div class="ext-box">
  <div class="int-box">
    <div class="container">
      <div classs="header">
        <div class="container">
          <div class="logo">
          </div>
            <div class="container">
              <div class="well" id="trip-form-well">
                <form action="/user/:id" method="post">
                <div class="form-group">
                  <label for="form-instructions"><p id="trip-form-head"> Hello <%= @name %>! Please add the following information:!</p></label>
                  <br>
                  <input id="trip_description" name="trip_description" type="text" placeholder="Describe your trip">
                </div>
                <div class="form-group">

                  <input id="start_date" name="start_date" type="text" placeholder="Enter trip start date">
                </div>
                <div class="form-group">

                  <input id="end_date" name="end_date" type="text" placeholder="Enter trip end date">
                </div>
                <div class="form-group">

                  <input id="latitude" name="latitude" type="text" placeholder="Enter location latitude">
                </div>
                <div class="form-group">
                  <input id="longitude" name="longitude" type="text" placeholder="Enter location longitude">
                </div>
                  <button type="submit" name="submit" class="btn btn-success">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
