<h2>input latitude and longitude</h2>

<form action="/weather" method="post">
  <label for="latitude">Latitude</label>
  <input id="latitude" name="latitude" type="text">

  <label for="longitude">Longitude</label>
  <input id="longitude" name="longitude" type="text">

  <button type="submit">View weather</button>
</form>

  <h3><%= @current['summary'] %></h3>
  <h3><%= @current['icon'] %></h3>
  <h3><%= @current['temperature'] %></h3>
