body {
  width: 100%;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background: url('../img/header.JPG') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover
    background-size: cover;
  font-family: 'Raleway', sans-serif;
}



h3 {
  color: white;
}


#trip-bg {
  background-color: salmon;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.header {
  width: 100%;
  top: 0;
  position: relative;
}

.header .container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.logo {
  float: left;
  font-family: "sans-serif";
  font-size: 24px;
}

.main-head {
  color: #ffffff;
  font-size: 48px;
  position: absolute;
  text-align: center;
}

#homepage-head {
  color: white;
}

#trip-form-head {
  color: #ffffff;
}

.trip-form-well {
  background-color: rgba(20, 20, 20, 0.25);
  /*background-color: #bfbfbf*/
}

li {
  list-style: none;
  float: left;
  margin-left: 15px;
  padding-top: 15px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul li {
  float: left;
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}

.nav {
  float: right
}

.well {background: none;border:none; width: 100%}

form {
  display: block;
  text-align: center;
  margin: 0 auto;
  /*padding: 200px;*/
  text-shadow: black;
}

label {
  font-size: 24px;
}

ul li a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
}

ul li a:hover {
  background-color: white;
}

ul li ul li {
  display: none;
}

ul li:hover ul li {
  display: block;
}

input {
  text-align: center;
}

div.ext-box { display: table; width:100%;height: 100vh}
div.int-box { display: table-cell; vertical-align: middle; }

#user_link, a {
  color: #f2bd00;
  font-weight: bold;
}

#activity {
  color: #f2bd00;
}
